.experience_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.experience_content {
  display: flex;
  justify-content: center;
  width: 100%;
}

/*====================Media Querie (Meduim Devices 'Tablets')===================*/

@media screen and (max-width: 1024px) {
  .experience_container {
    grid-template-columns: 1fr;
  }

  .experience_content {
    padding: 1rem;
  }
}

/*====================Media Querie (Small Devices 'Cellphones')===================*/

@media screen and (max-width: 600px) {
  .experience_container {
    gap: 1rem;
  }
}
